.it-header-slim-wrapper {
  background: linear-gradient(to right, #2bb5c9, var(--bs-primary));
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
}

.user-email {
  color: white;
  cursor: pointer;
}

.slim-logo {
  height: 50px;
  width: auto;
}
