<div class="it-header-slim-wrapper bg-primary text-white">
  <div class="it-header-slim-wrapper-content container">
    <div class="brand-container">
      <img 
        ngSrc="assets/sti-jobs-full-logo.png" 
        alt="STI JOBS" 
        width="65" 
        height="75"
        priority
      />
    </div>
    <div class="header-slim-right-zone">
      <span class="user-email">{{ userEmail }}</span>
      <button class="logout-button" (click)="logout()" aria-label="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</div>
