.it-header-slim-wrapper {
  background: linear-gradient(to right, #0063bd, #347f8e);
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
}

.it-header-slim-wrapper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
}

.brand-container {
  display: flex;
  align-items: center;
}

.slim-logo {
  height: 50px;
  width: auto;
}

.header-slim-right-zone {
  display: flex;
  align-items: center;
}

.user-email {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 0.5rem;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
}

.logout-button mat-icon {
  font-size: 1.5rem;
}

.logout-button:hover mat-icon {
  color: #ffdddd;
}
