<div class="it-header-slim-wrapper">
  <div class="container">
    <div class="it-header-slim-wrapper-content">
      <div class="brand-container">
        <img src="./assets/logo.png" alt="App Logo" class="slim-logo">
      </div>

      <div class="header-slim-right-zone">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle user-email" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            {{ userEmail }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
