
<div style="margin-top: 230px; text-align: center" >
  <div class="card-container">
    <div class="card">
      <h2>{{ action + " " + type}}</h2>
      <i [class]="getIcon()"></i>
      <p>{{ action == 'Import' ? 'Importing data...' : 'Exporting data...' }}</p>
      <div class="popup-content">
        <h3>Inserisci il testo</h3>
        <textarea [(ngModel)]="textareaContent" placeholder="Scrivi qui..." rows="10" cols="30"></textarea>
      </div>
      <button class="btn btn-primary" (click)="onFileButtonClick()">Scegli un file JSON</button>
      <input type="file" #fileInput hidden accept=".json" (change)="onFileSelected($event)" />
      <button class="btn btn-primary" (click)="submitText()">{{ action == 'Import' ? 'Start Import' : 'Start Export' }}</button>
    </div>
  </div>
</div>
