<div class="container">
  <h1 class="section-title">Machines</h1>
  <div class="card-container">
    <app-page-card
      title="Manage Machine Types"
      icon="bi bi-list-ol"
      link="/machine-type"
    ></app-page-card>
    <app-page-card
      title="Manage Machines"
      icon="bi bi-gear"
      link="/job"
    ></app-page-card>
  </div>

  <h1 class="section-title">Jobs</h1>
  <div class="card-container">
    <app-page-card
      title="Create and Import Jobs"
      icon="bi bi-cloud-arrow-up"
      iconSecond="bi bi-briefcase"
      jsonAction="importJobs"
      link="/json"
    ></app-page-card>
    <app-page-card
      title="Manage Existing Jobs"
      icon="bi bi-briefcase"
      link="/job"
    ></app-page-card>
  </div>

  <!--
  <h1 class="section-title">Projects</h1>
  <div class="card-container">
    <app-page-card
      title="Import Projects"
      icon="bi bi-cloud-arrow-up"
      iconSecond="bi bi-diagram-3"
      jsonAction="importProjects"
      link="/json"
    ></app-page-card>
    <app-page-card
      title="Projects"
      icon="bi bi-diagram-3"
      link="/project"
    ></app-page-card>
    <app-page-card
      title="Export Projects"
      icon="bi bi-cloud-arrow-down"
      iconSecond="bi bi-diagram-3"
      jsonAction="exportProjects"
      link="/json"
    ></app-page-card>
  </div>
  -->
</div>
