<div class="schedule-container theme-background theme-text">
  <h2>All Jobs</h2>
  <div class="jobs-container">
    <div class="table-responsive">
      <table class="jobs-table">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Duration</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let job of paginatedJobs">
          <td>{{ job.title }}</td>
          <td>{{ job.description }}</td>
          <td>{{ secondsToDuration(Number(job.duration)) }}</td>
          <td class="actions-cell">
            <button
              class="action-button edit"
              title="Schedule"
              (click)="openScheduleDialog(job)"
            >
              <i class="fas fa-calendar-plus"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-controls">
      <button
        class="pagination-button"
        (click)="previousJobPage()"
        [disabled]="currentJobPage === 1"
      >
        Previous
      </button>
      <span>Page {{ currentJobPage }} of {{ totalJobPages }}</span>
      <button
        class="pagination-button"
        (click)="nextJobPage()"
        [disabled]="currentJobPage === totalJobPages"
      >
        Next
      </button>
    </div>
  </div>

  <div class="schedules-container">
    <div class="schedules-header">
      <h2>Jobs Participating in Scheduling</h2>
      <div class="schedule-actions">
        <button class="button" (click)="openSchedulingDialog()">Start Scheduling</button>
        <button class="button" (click)="downloadSchedules()">Download Scheduling</button>
        <button class="button" (click)="triggerFileInput()">Import External Scheduling File</button>
        <input type="file" style="display: none;" (change)="importSchedules($event)" accept=".json" id="hiddenFileInput"/>
      </div>
    </div>
    <div class="table-responsive">
      <table class="schedules-table">
        <thead>
        <tr>
          <th>Job ID</th>
          <th>Machine Type</th>
          <th>Start Time</th>
          <th>Due Date</th>
          <th>Duration</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let schedule of paginatedSchedules">
          <td>{{ schedule.jobId }}</td>
          <td>{{ schedule.machineTypeId }}</td>
          <td>{{ schedule.startTime | date: 'short' }}</td>
          <td>{{ schedule.dueDate | date: 'short' }}</td>
          <td>{{ secondsToDuration(schedule.duration) }}</td>
          <td>{{ schedule.status }}</td>
          <td class="actions-cell">
            <button
              class="action-button edit"
              title="Edit"
              (click)="openEditScheduleDialog(schedule)"
            >
              <i class="fas fa-edit"></i>
            </button>
            <button
              class="action-button delete"
              title="Delete"
              (click)="confirmDeleteSchedule(schedule)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-controls">
      <button
        class="pagination-button"
        (click)="previousSchedulePage()"
        [disabled]="currentSchedulePage === 1"
      >
        Previous
      </button>
      <span>
        Page {{ currentSchedulePage }} of {{ totalSchedulePages }}
      </span>
      <button
        class="pagination-button"
        (click)="nextSchedulePage()"
        [disabled]="currentSchedulePage === totalSchedulePages"
      >
        Next
      </button>
    </div>
  </div>
</div>


<!-- Dialog to Select Scheduling Type -->
<ng-template #schedulingDialog>
  <h2 mat-dialog-title>Select Scheduling Type</h2>
  <mat-dialog-content>
    <mat-radio-group [(ngModel)]="selectedSchedulingType">
      <mat-radio-button value="scheduleAll">Schedule All</mat-radio-button><br>
      <mat-radio-button value="scheduleDueDate">Schedule by Due Date</mat-radio-button><br>
      <mat-radio-button value="scheduleDuration">Schedule by Duration</mat-radio-button><br>
      <mat-radio-button value="schedulePriority">Schedule by Priority</mat-radio-button><br>
      <mat-radio-button value="scheduleFCFS">Schedule by First Come First Served</mat-radio-button>
      <mat-radio-button value="scheduleRR">Schedule by Round Robin</mat-radio-button>
    </mat-radio-group>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="schedulingDialogRef.close()">Cancel</button>
    <button mat-button color="primary" (click)="startScheduling()">Start</button>
  </mat-dialog-actions>
</ng-template>

<!-- Loading Indicator -->
<div *ngIf="loading" class="loading-overlay">
  <mat-spinner></mat-spinner>
</div>

<ng-template #scheduleDialog let-data>
  <h2 mat-dialog-title>Schedule Job: {{ data.job.title }}</h2>
  <mat-dialog-content [formGroup]="scheduleForm">
    <div class="form-field-row">
      <!-- Start Date -->
      <div class="form-field">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="startDatePicker"
            formControlName="startDate"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- Due Date -->
      <div class="form-field">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Due Date</mat-label>
          <input
            matInput
            [matDatepicker]="dueDatePicker"
            formControlName="dueDate"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dueDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #dueDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="form-field-row">
      <!-- Start Time -->
      <div class="form-field-row">
        <!-- Select Hours -->
        <div class="form-field">
          <mat-form-field appearance="fill" class="full-width hour">
            <mat-label>Hours</mat-label>
            <mat-select
              formControlName="startHour"
              required
              (selectionChange)="onStartTimeChange()"
            >
              <mat-option *ngFor="let hour of hourOptions" [value]="hour">
                {{ hour }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Select Minutes -->
        <div class="form-field">
          <mat-form-field appearance="fill" class="full-width hour">
            <mat-label>Minutes</mat-label>
            <mat-select
              formControlName="startMinute"
              required
              (selectionChange)="onStartTimeChange()"
            >
              <mat-option
                *ngFor="let minute of minuteOptions"
                [value]="minute"
              >
                {{ minute | number: '2.0' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- End Time -->
      <div class="form-field">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>End Time</mat-label>
          <input
            matInput
            [value]="calculatedEndTime | date: 'shortTime'"
            readonly
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button
      mat-button
      color="primary"
      [disabled]="scheduleForm.invalid"
      (click)="scheduleJob()"
    >
      Schedule
    </button>
  </mat-dialog-actions>
</ng-template>
