<div class="container mt-5 theme-background theme-text">
  <h2 class="text-center mb-4">Import Machine Type</h2>
  <div class="card theme-background theme-text">
    <div class="card-body">
      <div class="d-flex justify-content-between mb-3 align-items-center">
        <button class="btn btn-secondary" routerLink="/create">
          <i class="bi bi-arrow-left"></i> Back
        </button>

        <button
          *ngIf="!showJsonInput"
          class="btn btn-warning"
          (click)="toggleJsonInput()"
        >
          <i class="bi bi-code-slash"></i> Compile in JSON
        </button>

        <button
          *ngIf="showJsonInput"
          class="btn btn-warning"
          (click)="toggleJsonInput()"
        >
          <i class="bi bi-ui-checks-grid"></i> Compile Form
        </button>
      </div>

      <form
        *ngIf="!showJsonInput"
        #machineTypeForm="ngForm"
        (ngSubmit)="submitMachineType(machineTypeForm)"
        novalidate
      >
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            class="form control theme-background theme-text rounded"
            id="name"
            [(ngModel)]="machineType.name"
            name="name"
            required
            #name="ngModel"
            [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }"
          />
          <div
            class="invalid-feedback"
            *ngIf="name.invalid && (name.dirty || name.touched)"
          >
            The Name field is required.
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            id="description"
            class="form-control theme-background theme-text"
            [(ngModel)]="machineType.description"
            name="description"
            #description="ngModel"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>

      <div *ngIf="showJsonInput">
        <label for="jsonInput" class="form-label">Enter Machine Types JSON</label>
        <textarea
          id="jsonInput"
          class="form-control mb-3"
          [(ngModel)]="jsonInputContent"
          rows="15"
          name="jsonInput"
          required
          #jsonInput="ngModel"
          [ngClass]="{ 'is-invalid': jsonInput.invalid && (jsonInput.dirty || jsonInput.touched) }"
        ></textarea>
        <div
          class="invalid-feedback"
          *ngIf="jsonInput.invalid && (jsonInput.dirty || jsonInput.touched)"
        >
          The JSON field is required.
        </div>
        <small id="json-example-label" class="text-muted">Expected JSON example:</small>
        <pre id="json-example" class="bg-light p-2">{{ jsonExample }}</pre>
        <button
          (click)="submitMachineType()"
          class="btn btn-primary w-100"
          [disabled]="!jsonInputContent || jsonError"
        >
          Submit JSON
        </button>
      </div>
    </div>
  </div>
</div>
